{% extends 'base.html' %}

{% block content %}
    <h1>Project List</h1>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <table>
        <tr>
            <th>Project Title</th>
            <th>Vote Ratio</th>
            <th>Vote Up</th>
            <th>Created at</th>
            <th>Edit project</th>
        </tr>

        {% for project in projects %}

            <tr>

                <td><a href="{% url 'projects:project' project.id %}">{{ project.title }}</a></td>
                <td>{{ project.vote_ratio }}%</td>
                <td>{{ project.vote_total }}</td>
                <td>{{ project.created }}</td>
                <td><a href="{% url 'projects:update_project' project.id %}">Edit</a></td>
                <td><a href="{% url 'projects:delete_project' project.id %}">Delete</a></td>

            </tr>

        {% endfor %}


    </table>

{% endblock %}